@page
@model azure_app_charu_vs.Pages.DeploymentSlotModel
@{
     ViewData["Title"] = "Deployment Slot Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your deployment slot policy.</p>